<!DOCTYPE html>
<html>
<head>
    <title>Health Fitness Tracker</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <h1>Health & Fitness Tracker</h1>

    <form>
        <label>Steps:</label>
        <input type="number" placeholder="Enter steps"><br><br>

        <label>Calories:</label>
        <input type="number" placeholder="Enter calories"><br><br>

        <label>Workout:</label>
        <input type="text" placeholder="Workout type"><br><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>
